<ion-header [translucent]="true" class="transparent-header ">
  <ion-toolbar class="mx-4">
    <div class="flex gap-1 items-center selection:file:">
      <div>
        <img [src]="'./assets/logo_citimo.png'" class="w-8" />
      </div>

      <div class="relative flex-1">
        <ion-searchbar placeholder="" class="gs-explore-searchbar" animated="true" readonly
          (click)="modal.present(); searchbar.setFocus()">
        </ion-searchbar>
        <!-- 
        <div class="pointer-events-none absolute inset-y-0 left-14 flex items-center text-gray-500">

          <span class="mr-1">Search</span>

          <span (animationiteration)="nextHint()" class="animated-word inline-flex items-center min-w-[140px] mb-[2px]">

            <span class="font-semibold">
              {{ currentWord.text }}
            </span>

            <span class=" text-[22px] leading-none">
              {{ currentWord.emoji }}
            </span>

          </span>

        </div> -->

        <span class="material-symbols-outlined absolute right-5 top-1/2 -translate-y-1/2 z-10 text-3xl">
          center_focus_strong
        </span>
      </div>

      <ion-button fill="solid" class="gs-circle-btn ">
        <span class="material-symbols-outlined text-3xl">tune</span>
      </ion-button>

      <!-- <div class="relative pr-4">
        <ion-button fill="solid" class="gs-circle-btn">
          <span class="material-symbols-outlined text-2xl">
            notifications
          </span>
        </ion-button>

        <ion-badge color="danger"
          class="absolute top-1 right-4 min-w-5 h-5 flex items-center justify-center rounded-full text-[10px] px-1">
          2
        </ion-badge>
      </div> -->
      <div class=" flex gap-2 items-center px-3">

      </div>
    </div>



  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="map-content">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher> -->

  <app-map [zIndex]="'1'" [cities]="cities$ | async" [borderRadius]="'0px'" [detectCurrentLocation]="true"
    [checkDBLocation]="true" [disabled]="false" [radius]="3000" [nearestShopButton]="true" [topRatedShopButton]="true"
    (dragend)="onMapDragend($event)"></app-map>
</ion-content>


<ion-modal #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-4">
        <div class="flex  items-center ">
          <ion-button (click)="modal.dismiss()" fill="solid" class="gs-circle-btn">
            <span class="material-symbols-outlined text-2xl">
              keyboard_backspace
            </span>
          </ion-button>
          <div class="relative flex-1">
            <ion-searchbar #searchbar placeholder="" class="gs-explore-searchbar" animated="true"
              (click)="modal.present()">
            </ion-searchbar>

            <span class="material-symbols-outlined absolute right-5 top-1/2 -translate-y-1/2 z-10 text-3xl ">
              center_focus_strong
            </span>
          </div>

        </div>

      </ion-toolbar>
    </ion-header>

    <ion-content class="px-2">
      Test
    </ion-content>
  </ng-template>
</ion-modal>