<ion-tabs (ionTabsDidChange)="vibrate()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deals" href="/tabs/deals">
      <ion-icon name="map-sharp"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    @if (auth$ | async; as auth) { @if (auth.role === 'seller') {

    <ion-tab-button tab="product" href="/tabs/product">
      <div class="circle-tab-btn">
        <ion-icon name="add-sharp"></ion-icon>
      </div>
    </ion-tab-button>

    } @else {
    <ion-tab-button tab="cart" href="/tabs/cart ">
      <ion-icon name="bag-handle-sharp"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    } }

    <ion-tab-button tab="chats" href="/tabs/chats">
      <ion-icon name="chatbox-sharp"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-avatar>
        @if( auth$ | async; as auth ) {
        <img
          [src]="auth.role === 'buyer' ? auth.profile_picture.url : auth.shop?.logo"
          alt="avatar"
        />
        }
      </ion-avatar>

      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
