ion-tabs {
  position: relative;
}

ion-tab-bar {
  z-index: 9998 !important;
  margin-bottom: 20px;
}

ion-tab-button {
  background: transparent !important;
  --color-selected: #000000;
  --color: #000000;
  --ripple-color: transparent !important;

  .material-symbols-outlined,
  ion-icon,
  span {
    transition: color 0.2s ease;
  }
}

.sell-container {
  z-index: 9999 !important;
  height: 60px;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;

  .sell-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #000000;
    }

    ion-icon {
      font-size: 30px;
      --ionicon-stroke-width: 52px;
    }
  }
}

ion-tab-bar {
  --background: #ffffff !important;
}

@media (prefers-color-scheme: dark) {
  .sell-container {
    .sell-btn {
      span {
        color: #ffffff;
      }
    }
  }

  ion-tab-button {
    --color-selected: #ffffff;
    --color: #ffffff;
  }

  ion-tab-bar {
    --background: #121212 !important;
  }
}
