ion-tabs {
  position: relative;
}

ion-tab-bar {
  position: absolute;
  left: 35px;
  right: 35px;
  bottom: calc(env(safe-area-inset-bottom) + 20px);
  width: auto;
  border-top: none;
  border-radius: 2em;
  overflow: hidden;
  z-index: 20;
  background: rgba(247, 217, 79, 0.9);
  backdrop-filter: blur(4px);

  ion-tab-button {
    background: transparent !important;
    color: white;
    border: none;
    --ripple-color: transparent;
  }
}
ion-tab-button.tab-selected {
  // color: var(--spoonwise-secondary) !important;
  // box-shadow: inset 0 4px 0 var(--spoonwise-secondary);
}

ion-tab-button {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}
ion-avatar {
  width: 25px;
  height: 25px;
}
ion-tab-button.tab-selected .tab-avatar ion-avatar {
  // border: 3px solid var(--spoonwise-secondary);
}

.circle-tab-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.circle-tab-btn ion-icon {
  color: var(--spoonwise-primary);
  --ionicon-stroke-width: 48px;
}
