.blog {
  display: flex;
  gap: 7px;
  margin: 0px;
  .blog-thumbnail {
    width: 140px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }

  .blog-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
  }

  .blog-excerpt {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
    margin: 0;
  }
}
