ion-content {
  --background: var(--spoonwise-very-light-background) !important;
}

.example-list {
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-radius: var(--spoonwise-border-radius);
  overflow-x: scroll;
  gap: 0.5em;
  margin-bottom: 1em;
}

.example-box {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;

  & img {
    border-radius: var(--spoonwise-border-radius);
    max-width: 200px !important;
  }

  & .image-actions {
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    flex-direction: row;
    background: var(--spoonwise-light-background);
    border-radius: var(--spoonwise-border-radius);
    padding: 3px;
    width: 50%;

    & .buttons {
      display: flex;
      gap: 7px;
      flex-direction: row;
    }
  }
}
