// Map Filters
.range-wrapper {
  width: 100%;
}

.range-labels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-top: -8px;
  font-size: 12px;
  color: var(--ion-color-medium);
  text-align: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.radius-disabled {
  opacity: 0.45;
}

.category-card {
  position: relative;
  overflow: hidden;

  background: white;
}

@media (prefers-color-scheme: dark) {
  .category-card {
    background: #1e1e1e;
  }
}

.gs-inner-bg-citimo {
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  .gs-inner-bg-citimo {
    background: #1e1e1e;
  }
}

.category-selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  border-top: 28px solid var(--citimo-purple);
  border-right: 28px solid transparent;
}
