<div class="map-container" id="map"></div>

<div
  style="
    position: absolute;
    display: flex;
    top: 195px;
    left: 10px;
    z-index: 99999;
    flex-direction: column;
    gap: 10px;
  "
>
  <!-- <div>
    <button class="side-button" (click)="toggleProductVisibility()">
      <i class="material-icons">restaurant</i>
    </button>
  </div>
  <ng-container *ngIf="topRatedShopButton">
    <button class="side-button" (click)="toggleTopRatedShopsVisibility()">
      <i class="material-icons"> star </i>
    </button>
  </ng-container>
  <ng-container *ngIf="nearestShopButton">
    <button class="side-button" (click)="toggleNearShopsVisibility()">
      <i class="material-icons"> route </i>
    </button>
  </ng-container> -->
</div>
