.example-list {
  width: 100vw;
  display: flex;
  flex-direction: row;
  border-radius: var(--spoonwise-border-radius);
  overflow-x: scroll;
  gap: 0.5em;
  margin-bottom: 1em;
}

.example-box {
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;

  & img {
    border-radius: var(--spoonwise-border-radius);
    max-width: 200px !important;
  }

  & .failed-upload-dot {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    background-color: #c53030;
    border-radius: 50%;
    cursor: pointer;
  }

  & .image-actions {
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    flex-direction: row;
    background: var(--spoonwise-light-background);
    border-radius: var(--spoonwise-border-radius);
    padding: 3px;
    width: 50%;

    & .buttons {
      display: flex;
      gap: 7px;
      flex-direction: row;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: var(--spoonwise-border-radius);
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ion-toggle.toggle-top .toggle-wrapper {
  align-items: flex-start !important; /* Align inner toggle content to top */
}

ion-datetime::part(today) {
  border: none !important;
}

.variant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.variant-option {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 14px;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.error-summary {
  border-radius: var(--spoonwise-border-radius);
  animation: slideUp 0.3s ease-out;
}

.error-header {
  display: flex;
  align-items: center;
  color: #c53030;
  margin-bottom: 1em;
}

.error-header ion-icon {
  font-size: 20px;
  margin-right: 8px;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-variant {
  background: var(--spoonwise-very-light-background);
  border-radius: var(--spoonwise-border-radius);
  padding: 12px;
  margin: 16px 0;

  .card-variant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
}

ion-buttons.vertical {
  display: flex;
  flex-direction: column;
}

:host(.modal-sheet) {
  --ion-safe-area-top: 70px !important; /* <-- your custom value */
}
